[Desktop Entry]
Type=Application
Name=feh
Exec=feh %f
Categories=Other;
NoDisplay=true
MimeType=image/tiff;image/bmp;image/png;image/jpeg;image/gif;image/x-icon
Terminal=false
